# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/portfolioWebsite/FileContentIndex
/.vs/portfolioWebsite/FileContentIndex/640eb20b-3bbc-4fa0-bfe4-90cff049b29c.vsidx
/.vs/portfolioWebsite/FileContentIndex/8cc79df8-f2f4-4481-9474-93a8afd09872.vsidx
/.vs/portfolioWebsite/FileContentIndex/a66c6169-de8c-47e7-8ed1-f112dc3f22ce.vsidx
/.vs/portfolioWebsite/FileContentIndex/f09b0308-d5da-4146-8dc4-bd689cf43c88.vsidx
/.vs/portfolioWebsite/FileContentIndex/f32b8af5-785d-4e25-ad4b-7715a03f0fd1.vsidx
/.vs/portfolioWebsite/v17
/.vs/portfolioWebsite/v17/DocumentLayout.backup.json
/.vs/portfolioWebsite/v17/DocumentLayout.json
/obj
/obj/Debug
/obj/Debug/package.g.props
/obj/Debug/portfoliowebsite.esproj.CoreCompileInputs.cache
/obj/Debug/portfoliowebsite.esproj.FileListAbsolute.txt
/obj/Release
