# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
./.vs/*
./obj
./obj/*
./portfolioWebsite.esproj.user
/.vs/olmsteadca/FileContentIndex/07607e06-6200-4c5e-b42d-3f45b48ffe41.vsidx
*.wsuo
*.json
/.vs/portfolioWebsite/FileContentIndex/0041d6a3-f433-4e01-a118-86f97ea551ec.vsidx
/.vs/portfolioWebsite/FileContentIndex/48e9eee4-5838-4741-9147-e74300ef915f.vsidx
*.vsidx
*.sqlite
