.recent-updates {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 1rem;
    border-bottom: 2px solid rgba(250, 250, 250, 0.6);
}

.updates-spacing {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.updates-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 0rem;
    overflow: hidden;
}

h1.r-u-title {
    text-align: center;
    font-weight: 700;
    font-family: 'Archivo Narrow', sans-serif;
    color: #3658A2;
    text-transform: uppercase;
    font-size: clamp(2rem, 5rem, 8rem);
    line-height: 2rem;
}

