h2.subtitle-bold {
    text-align: center;
    font-weight: 800;
    font-size: clamp(1.75rem, 2rem, 2.25rem);
    font-family: 'Albert Sans', sans-serif;
    text-transform: lowercase;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #D23278;
}


/* background for captions/emphasized text */
.subtitle {
    justify-content: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    background-color: #FAFAFA;
    border-radius: 1rem;
}