.container {
   background-color: rgba(250, 250, 250, 0.6);
   border-radius: 1rem 1rem 0 0;
   margin-top: auto;
   padding: 0.5rem;
}
.icon {
  background-color: #FFFFFF;
  border-radius: 1rem;
  width: 4.25rem;
  height: 4.25rem;
  padding: 1.75rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0 0 2rem 0;
  margin-inline: 8rem;
}


