.tag {
    display: flex;
    background-color: #D23278;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
}

.tag-spacing {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    padding: 0.5rem;
    margin-inline: 0.5rem;
}

h3.tag-text {
    text-align: center;
    color: #FAFAFA;
    font-size: clamp(1rem, 1.5rem, 2rem);
    text-transform: lowercase;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
}

.tag-group {
    display: flex;
    border-radius: 1rem;
    flex-direction: row;
    width: 100%;
}
