.work-container {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 100%;
}

.work-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

h2.work-title {
    color: #D23278;
    max-width: 65%;
    text-align: left;
    line-height: 2rem;
}

h3.work-date {
    text-align: right;
    line-height: 2rem;
}

p.work-desc {
    text-align: justify;
}
