h2.link {
    text-align: left;
    color: #FFFFFF;
    line-height: 2rem;
    text-decoration: none;
}

.column {
    list-style: none;
    align-items: flex-start;
    gap: 2rem;
}

.link {
  text-decoration: none;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin-left: -2.1rem;
}

h3.link {
    text-align: left;
    color: #FFFFFF;
    line-height: 2rem;
    text-decoration: none;
}