
.navbar-content {
    justify-content: center;
    align-content: center;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    margin-left: -2rem;
}

.navbar-link {
    text-align: left;
    font-weight: 700;
    font-family: 'Archivo Narrow', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: clamp(2rem, 2.5rem, 2.75rem);
    line-height: 2.5rem;
    text-decoration: none;
}